.Content-main,.Parent-div{
    background-color:white ;
}
.h1-title{
  color: rgb(19, 25, 62) ;;
}
.content-of-main{
  /* background-color:  rgb(19, 25, 62); */
}
/* 
.main-container{
  height: 100vh;
} */

.empty-image{
    height: 200px;
    margin: auto;
}

.card-container{
  /* background-color:   rgb(19, 25, 62); */
  /* border: 1px solid lightgrey; */
}

.card{
  background-color: white;
   /* background-color:#F0F2F5 ; */
   /* color: #233b62; */
}

.card {
  transition: all 0.9s ease;
  max-width: 100% !important;
}

.expanded-card {
  background-color:white ;
}

.additional-details {
  border-top: 1px solid #ffffff33;
  padding-top: 10px;
}
.Parent-div{
  background-color: rgba(180, 180, 180, 0.4) ;
  border: 1px solid lightgrey;
  border-radius: 30px;
}
.mainn{
  background-color: #F0F2F5 ;
  padding: 20px;
}

.card:hover {
  transform: scale(1.02);
}